@import './settings/reset';
@import './settings/typography';
@import './settings/mixin';
@import './_loading';
@import './_gameCardList';
@import './_btn';

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #000000, #2d1c1f, #553136, #82484c, #b06060);
    font-family: $smooch;
}

.container {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.customBtn{
    @include custom_btn
}