@import './settings/reset';
@import './settings/typography';
@import './settings/mixin';
@import './_loading';
@import './_gameCardList';
@import './_btn';

#root {
	display: flex;
	justify-content: center;
	font-family: $smooch;
}

.container {
	width: 70%;
    height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gameCard-container {
	display: block;
	width: 70%;
    min-height: 100vh;
    color: #fff;
    padding: 20px 0;
	&__customSlick {
		width: 650px;
		margin: auto;
		height: 310px;
		.slickImage {
			width: 100%;
			height: 300px;
		}
		.slick-dots {
			bottom: -10px;
		}
	}
    &__content{
        margin-top: 20px;
        .release{
            margin-bottom: 20px;
        }
    }
}
