@mixin custom_btn {
	text-align: center;
	border: 1px solid black;
	background-color: #fff;
	cursor: pointer;
	padding: 5px 20px;
	transition: 1s;
	color: black;
	font-size: 13px;
	font-weight: 700;
}

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 475px) {
			@content;
		} //600px, 37.5em
	}
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		} //900px
	}
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 81.25em) {
			@content;
		} //1300px
	}
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) {
			@content;
		} //1800px
	}
}
