*, *:before, *:after{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    height: auto;
	width: 100%;
	background-image: linear-gradient(to top, #000000, #2d1c1f, #553136, #82484c, #b06060);
}